@charset 'UTF-8';

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* root variables */
:root {
  /* Frame */
  --lgDesktopContentWidth: 1200px;
  --desktopContentWidth: 1080px;
  --tabletContentWidth: 90vw;
  --mobileContentWidth: 100vw;

  /* color palette */
  --black: #212121;
  --white: #fafafa;
  --solutions: #1dd1a1;
  --problems: #ee5253;

  /* typography */
  --h1: 700 5.1rem Poppins, sans-serif;
  --h2: 700 4.5rem Poppins, sans-serif;
  --h3: 600 4.5rem Poppins, sans-serif;
  --paragraphLight: 300 2.1rem Poppins,
    sans-serif;
  --buttonText: 700 1.8rem Poppins,
    sans-serif;
}

/* Global Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--white);
}

html {
  font-size: 62.5%;

  height: 100%;
}

body {
  height: 100%;

  padding: 0;
  margin: 0;

  font-size: 1.8rem;
  font-family: 'Lexend', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

/* Next container */
#__next {
  height: 100%;
}

/* Scroll Bar Styles */
/* width */
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.6rem;
  border: 1px solid var(--secondaryNormal);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryLight);
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryNormal);
}

/* Override of react-phone-input-2 */
.inputStyle::placeholder {
  color: var(--textLight) !important;
}

.inputStyle:focus {
  outline: none !important;
  border: 0.15rem solid #6b6b6b !important;
}

.inputStyleDisabled::placeholder {
  color: var(--textLight) !important;
}

.inputStyleDisabled:focus {
  border: 0.15rem solid #f1e9e6 !important;
}

.searchBox:focus {
  outline: none !important;
  border: 0.15rem solid #6b6b6b !important;
}

.search::placeholder {
  color: var(--textLight) !important;
}

.country {
  padding: 1rem !important;
}

.country:hover {
  background-color: var(
    --backgroundAlt
  ) !important;
}

.highlight {
  background-color: var(
    --backgroundNormal
  ) !important;
}

.search {
  padding: 1rem !important;
}

/* Override @reach/listbox styles */
[data-reach-listbox-popover] {
  border-radius: 1rem !important;
  box-shadow: var(--elevation2) !important;
  outline: none !important;
  padding: 0 !important;
}

[data-reach-listbox-option][data-current-selected] {
  background-color: var(
    --backgroundNormal
  ) !important;

  font: var(--bodyMd) !important;

  color: var(--textNormal) !important;
}

[data-current-nav] {
  background-color: var(
    --backgroundAlt
  ) !important;

  font: var(--bodyMd) !important;

  color: var(--textNormal) !important;
}

/* ====================================================== */

/*
  *BOILER PLATES
*/

/*
  *Media queries:
  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    max-width: var(--desktopContentWidth);
  }
  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    max-width: var(--tabletContentWidth);
  }
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    max-width: var(--mobileContentWidth);
  }
  // x-small devices (portrait phones and small landscape phones)
  @media (max-width: 575.98px) {
    max-width: var(--mobileContentWidth);
  }

*/
